/Models
/Results
tutorials/results


/.DS_Store
/__pycache__

/.idea
/.vscode
/.pytest_cache
/.mypy_cache
/.coverage
/.coverage.*
/.pytest_cache
/.mypy_cache

site/



dist/
~/


/src/educhateval/dialogue_wrapper/

# no longer used:

update_website.txt
testing_mypython_package.ipynb
testing_mypack_2.ipynb

data/data_to_delete
